<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyberStart77.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CyberStart77.Properties.Settings>
            <setting name="processTimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="savegameTimer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="process" serializeAs="String">
                <value>Cyberpunk2077</value>
            </setting>
            <setting name="savegamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="extraSavegamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="disableExtraSavegames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableAddApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="name_schema" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideStatusLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minDifferenceLastSaveGame" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="minAutosaveGame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customNameSchema" serializeAs="String">
                <value />
            </setting>
        </CyberStart77.Properties.Settings>
    </userSettings>
</configuration>