<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyberSave77.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CyberSave77.Properties.Settings>
            <setting name="counterProcessCheck" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="intervalSaveGameCheckSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="processName" serializeAs="String">
                <value>Cyberpunk2077</value>
            </setting>
            <setting name="savegameDefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="savegameHistoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="enableExtraSavegames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableAppsOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nameSchemaMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideStatusLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostartBgw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeDifferenceSaveGames" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="intervalAutoQuickSaveMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="customNameSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="killStartedAppsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoQuickSaveMaxRetries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoQuickSaveErrorDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="enableAutoQuicksave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guiLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="svgmHideDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="svgmDisableConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
        </CyberSave77.Properties.Settings>
    </userSettings>
</configuration>